$theme-space-bg: #09053d;
$theme-space-light-bg: lighten(desaturate($theme-space-bg, 25%), 15%);
$theme-space-primary: #a090e7;
$theme-space-accent: complement($theme-space-primary);

.grid-container.theme-space {
  background-color: $theme-space-light-bg;
  color: color-contrast($theme-space-light-bg);
}

.share-page {
  $self: &;

  &--theme-space {
    #{ $self }__card {
      background-color: $theme-space-bg;
      background-image: url('../../../public/img/backgrounds/space/space.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-color: $theme-space-primary;
    }
    #{ $self }__link-info {
      background-color: $theme-space-primary;
      color: color-contrast($theme-space-primary);

      &:hover {
        border-color: $theme-space-accent;
      }
      &--copy-confirm,
      &--copy-confirm:hover {
        background-color: $success;
        border-color: $success;
      }
      &__link-safety svg path {
        fill: $theme-space-accent;
      }
    }
  }
}
