$theme-space-bg: #09053d;
$theme-space-primary: #a090e7;
$theme-space-accent: complement($theme-space-primary);

.share-page {
  $self: &;

  &--theme-space {
    #{ $self }__card {
      background-color: $theme-space-bg;
      background-image: url('../../../public/img/backgrounds/space/shapes.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-color: $theme-space-primary;
    }
    #{ $self }__link-info {
      background-color: $theme-space-primary;
      color: black;

      &:hover {
        border-color: $theme-space-accent;
      }
      &--copy-confirm,
      &--copy-confirm:hover {
        background-color: $success;
        border-color: $success;
        color: white;
      }
      &__link-safety svg path {
        fill: $theme-space-accent;
      }
    }
  }
}
