$theme-waves-bg: #5c3964;
$theme-waves-light-bg: lighten(desaturate($theme-waves-bg, 10%), 15%);
$theme-waves-primary: #9d69c0;
$theme-waves-accent: complement($theme-waves-primary);

.grid-container.theme-waves {
  background-color: $theme-waves-light-bg;
  color: color-contrast($theme-waves-light-bg);
}

.share-page {
  $self: &;

  &--theme-waves {
    #{ $self }__card {
      background-color: $theme-waves-bg;
      background-image: url('../../../public/img/backgrounds/waves/waves.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-color: $theme-waves-primary;
    }
    #{ $self }__link-info {
      background-color: $theme-waves-primary;
      color: color-contrast($theme-waves-primary);

      &:hover {
        border-color: $theme-waves-accent;
      }
      &--copy-confirm,
      &--copy-confirm:hover {
        background-color: $success;
        border-color: $success;
      }
      &__link-safety svg path {
        fill: $theme-waves-accent;
      }
    }
  }
}
