@import 'variables';
@import 'bootstrap';
@import 'generator';
@import 'share-card';

body {
  background-color: white;
  color: $gray-90;
}

.vh-100-var {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 0px 0px;
  grid-template-areas:
    'grid-generator'
    'grid-card'
    'grid-tools';
  @extend .vh-100-var;
}

.grid-generator {
  background-color: rgba(0, 0, 0, 0.1);
  grid-area: grid-generator;
}

.grid-card {
  grid-area: grid-card;
  overflow-y: auto;
  position: relative;
}

.grid-tools {
  background-color: rgba(0, 0, 0, 0.1);
  grid-area: grid-tools;
}
