@import 'globals';

.body {
  background-color: rgb(228, 188, 95);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  //   object-fit: cover;
  height: 500px;
  //   border: 3px solid green;
}

.destinationUrlForm {
  background-color: aqua;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  //   height: 500px;
  border: 3px solid green;
}

.card {
  background: url('../../public/6.png');
  background-size: cover;
  border: 2px solid green;
  height: 450px;
  width: 250px;
}

.qr {
  position: relative;
  justify-content: center;
  align-items: center;
  top: 32%;
  left: 2px;
  // margin: 0 auto;
  //   height: 250px;
  // border: 4px solid; // want the border to go around the qr code
  // border-color: rgb(218, 86, 25);
  background: url('../../public/qr.png'); // this line is not working
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.shortLinkInfo {
  background: transparent;
  //   display: flex;
  position: relative;
  justify-content: center;
  //   align-items: center;
  top: 40%;
  background-color: rgb(157, 147, 225);
  width: 150px;
  margin: 0 auto;
  //   left: 100px;
  //   text-align: center;
}

.backhalf {
  font-size: larger;
  margin: 5px;
  font-weight: 600;
  font-size: x-large;
  color: cornsilk;
}

.forwardsTo {
  font-size: 6pt;
}

.logo {
  margin-top: 10px;
}
