$navy: #172f41;
$orange: #ee6123;

$gray-10: #f5f6f7;
$gray-20: #e8e9eb;
$gray-30: #d3d4d7;
$gray-40: #b0b1b4;
$gray-50: #828387;
$gray-60: #56575b;
$gray-70: #36383b;
$gray-80: #252628;
$gray-90: #1d1f21;

$blue-10: #edf2fe;
$blue-10: #cedafa;
$blue-10: #a1b8f3;
$blue-10: #688de8;
$blue-10: #2a5bd7;
$blue-10: #0236b9;
$blue-10: #002a95;
$blue-10: #001f6d;
$blue-10: #001345;

// these apply to Bootstrap classes
$primary: $navy;
$secondary: $orange;
$dark: $gray-90;
